---
---

@import "{{ site.theme }}";

.page-header {
    background-image: url("../../Header-Background-Image.jpg");
    background-size: cover;
}

.main-content {
    max-width: 110rem;
    font-size: small
    }

:root {
  --md-table-border-color: black;
  --md-table-header-bg-color: gold;
  & thead {
      background-color: gold;
    }
  & tr:nth-child(even) {
    background-color: cornsilk;
  }
}

:root.dark {
  --md-table-border-color: white;
  --md-table-header-bg-color: indigo;
  & thead {
      background-color: indigo;
  }
  & tr:nth-child(even) {
    background-color: mediumpurple;
  }
}

div.mytable+table tr:nth-child(3) {
    background-color: indigo;
}
